**/.*/
**/.*
!dist/**/*.js
!dist/**/*.css
!dist/**/*.html
!dist/**/*.ttf
!dist/**/*.toml
!dist/**/.*
*.vsix
out/**
node_modules/**
src/**
AGENTS.md
DEBUGGING.md
esbuild.js
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
pnpm-lock.yaml
pnpm-workspace.yaml
tests-integration/
test-results/
playwright-report/
images/logo-large.png
